<!DOCTYPE html>
<html>
<head>
    <title>Mandi Page</title>
    <link rel="stylesheet" href="https://rawgit.com/novus/nvd3/v1.1.15-beta/nv.d3.min.css"/>  
	<script src="./js/angular.min.js"></script>
	<script src="./js/d3.min.js"></script>
    <script src="./js/nv.d3.min.js"></script>
	<script src="./js/services.js"></script>	
    <script>
	var appMod = angular.module('app', ['stateService', 'districtService', 'marketService', 'commoditiesService', 'varitiesService', 'durationService']);	
	appMod.factory('nv', function() {
	  return nv;
	});

	appMod.factory('d3', function() {
	  return d3;
	});
	appMod.controller('mandiController',  function($scope, State, District, Market, Commodity, Variety, Duration, nv, d3) {	
		$scope.showChart = false;
		State.get()
		.then(
		  function(states) {			
			$scope.states = states;
		  }
		);
		
		$scope.getDistrict = function(){
			console.log("---------state:"+ $scope.state);
			District.get(this.state)
		.then(
		  function(districts) {
			$scope.districts = districts;
			console.log("*********districts:"+$scope.districts);
		  }
		);
		}
		
		$scope.getMarket = function(){
			console.log("-----District:"+ $scope.district);
			Market.get(this.state, this.district)
		.then(
		  function(markets) {
			$scope.markets = markets;
			console.log("*****Markets:"+$scope.markets);
		  }
		);
		}
		
		$scope.getCommodity = function(){
			console.log("-----Market:"+ $scope.district);
			Commodity.get(this.state, this.district, this.market)
		.then(
		  function(commodities) {
			$scope.commodities = commodities;
			console.log("*****commodities:"+$scope.commodities);
		  }
		);
		}
		
		$scope.getVariety = function(){
			console.log("-----Commodity:"+ $scope.commodity);
			Variety.get(this.state, this.district, this.market, this.commodity)
		.then(
		  function(varieties) {
			$scope.varieties = varieties;
			console.log("*****varieties:"+$scope.varieties);
		  }
		);
		}
		
		$scope.getPrices = function(){
			console.log("-----Duration:"+ $scope.duration);
			Duration.get(this.duration, this.state, this.district, this.market, this.commodity, this.variety)
		.then(
		  function(prices) {
			var p = [];
			$scope.prices = prices;
			console.log(" duration:"+JSON.stringify($scope.prices));
			
			
			for (var i = 0; i < prices.length; i++) {
				var data = prices[i];
				p.push({x: data.day, y: data.price});					
			}	
			
			finalData = [
				{
					key: 'Price',
					values: p
				}
			];
			
			var svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
			var e1 = angular.element( document.querySelector( '#mandiChart' ) );
			e1.append(svg);     
			var chart;

			nv.addGraph(function() {
				 chart = nv.models.stackedAreaChart()
				.useInteractiveGuideline(true)
				.showControls(false)
				.margin({left: 50, right: 30})
				.showLegend(true)
				.showYAxis(true) 
                .showXAxis(true);
				
				chart.xAxis
				  .axisLabel('Day')
				  .tickFormat(d3.format(""));
				  
				chart.yAxis
				  .axisLabel('Price')
				  .tickFormat(d3.format(""));
				  
				console.log("inside chart method:"+p[0].x);  
				d3.select(svg)
				.datum(finalData)
				.call(chart);
			
				nv.utils.windowResize(function() {
				  chart.update();
				});

				return chart;
			  });
		  }
		);
		}		
	});	
	
    </script>
</head>
<body ng-app="app" ng-controller="mandiController as mandi">
		<div >
			States:
				<!--<select id="state" ng-model="state" ng-options="state.id as state.label for state in states track by state.label" ng-change="getDistrict()">    -->
				<select id="state" ng-model="state" ng-options="state for state in states" ng-change="getDistrict()"> 
					<option value=''>Select</option>	
				</select>
		</div>		
		<div >
            District:			
			<select id="district" ng-model="district" ng-options="district for district in districts" ng-change="getMarket()">    
				<option value=''>Select</option>	
            </select>
        </div>
		<div >
            Markets:			
			<select id="market" ng-model="market" ng-options="market for market in markets" ng-change="getCommodity()">    
				<option value=''>Select</option>	
            </select>
        </div>
		<div >
            Commodities:			
			<select id="commodity" ng-model="commodity" ng-options="commodity for commodity in commodities" ng-change="getVariety()">    
				<option value=''>Select</option>	
            </select>
        </div>
		<div >
            Varieties:			
			<select id="variety" ng-model="variety" ng-options="variety for variety in varieties" >    
				<option value=''>Select</option>	
            </select>
        </div>
		<div >
            Duration:			
			<select id="duration" ng-model="duration" ng-change="getPrices()">    
				<option value=''>Select</option>	
				<option value='1'>Weekly</option>
				<option value='2'>Monthly</option>
            </select>			
        </div>
		
		<div id="mandiChart">
		
		
</body>
</html>
